mat-dialog-content {
  background-color: #efefef;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.gallery mat-icon {
  font-size: 24px;
  cursor: pointer;
}

.gallery img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 10px;
}

@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .gallery img {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .gallery img {
    width: 100%;
  }
}
