<mat-dialog-content>
  <form [formGroup]="form" class="password-form">
    <mat-form-field appearance="fill">
      <mat-label>Enter old password</mat-label>
      <input
        matInput
        type="{{ hidePassword ? 'password' : 'text' }}"
        formControlName="oldPassword"
        required
        autocomplete="off"
        placeholder=""
      />
      <mat-icon matSuffix (click)="togglePasswordVisibility()">
        {{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter new password</mat-label>
      <input
        matInput
        type="{{ hidePassword ? 'password' : 'text' }}"
        formControlName="newPassword"
        required
        autocomplete="off"
        placeholder=""
      />
      <mat-icon matSuffix (click)="togglePasswordVisibility()">
        {{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon
      >
    </mat-form-field>

    <button mat-button (click)="changePassword()" class="password-button">
      Change password
    </button>
  </form>
</mat-dialog-content>
