<div class="chat-container">
  <div class="messages" #messagesContainer>
    <div
      *ngFor="let message of messages"
      [ngClass]="{ 'own-message': message.username === username }"
    >
      <div class="message">
        <div class="message-header">
          <div
            class="user-icon"
            [style.background-color]="getUserColor(message.username)"
          >
            {{ message.username[0] | uppercase }}
          </div>
          <h3>{{ message.username }}</h3>
        </div>
        <div class="message-text">{{ message.text }}</div>
        <div class="message-time" align="end">
          {{ message.createdAt | date : "dd/MM/yyyy HH:mm:ss" }}
        </div>
      </div>
    </div>
  </div>
  <div class="input-container">
    <input
      matInput
      type="text"
      [(ngModel)]="message"
      (keydown.enter)="sendMessage()"
      placeholder="Type a message"
    />
    <button mat-button (click)="sendMessage()">Send</button>
  </div>
</div>
